body, html {
    background-color: #2e2e2e;
    height: 100%;
    margin: 0;
}

.usable-body {
    position:relative;
    top: 45px;
    width: 100%;
}

.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    position:fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: #505050;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}
.navigation-bar2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    position: relative;
    float: left;
    top: 100px;
    right: -400px;
    width: 400px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}
.navigation-bar li {
    float: left;
}
.navigation-bar2 li {
    margin-bottom: 20px;
    background-color: #505050;
}
.navigation-bar li a, .navigation-bar2 li a {
    display: block;
    padding: 8px;
}
.navigation-bar li a:link, .navigation-bar2 li a:link {
    text-decoration: none;
    color: #ffffff;
}
.navigation-bar li a:visited, .navigation-bar2 li a:visited {
    text-decoration: none;
    color: #ffffff;
}
.navigation-bar li a:hover, .navigation-bar2 li a:hover {
    text-decoration: none;
    background-color: #404040;
    color: #ffffff;
}
.navigation-bar li a:active, .navigation-bar2 li a:active {
    text-decoration: none;
    color: #ffffff;
    background-color: #454545;
}

.footer{
    position: relative;
    top: 150px;
    width: 100%;
    height: 150px;
    background-color: #252525;
    
}
.footer p {
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    top: 25px;
    position: relative;
}



/* the styles below are for index.html */
.about-us-card {
    position:relative;
    float: left;
    top: 100px;
    left: 200px;
    height: min-content;
    width: min-content;
    background-color: #fdfdfd;
    outline: #000000 solid 5px;
}
.about-us-card img {
    position: relative;
    height: 400px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.about-us-card h1, .destination-card h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.about-us-card p {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}



/* the styles below are for page1.html */
.destination-card {
    position:absolute;
    height: min-content;
    width: 800px;
    background-color: #fdfdfd;
    outline: #000000 solid 5px;
}
.destination-card img {
    position: relative;
    float:left;
    height: 300px;
    margin: 10px;
}
.destination-card h1 {
    margin-left: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.destination-card p {
    float:initial;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}



/* the styles below are for page2.html */
.divider-text {
    color: #ffffff;
    background-color: #2e2e2e;
    padding:50px 200px;
}
.divider-text h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}
.divider-text p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.parallax-img1, .parallax-img2, .parallax-img3, .parallax-img4, .parallax-img5 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-img1 {
    background-image: url("images/parallax/parallax_img1.jpg");
    min-height: 100%;
}
.parallax-img2 {
    background-image: url("images/parallax/parallax_img2.jpg");
    min-height: 100%;
}
.parallax-img3 {
    background-image: url("images/parallax/parallax_img3.jpg");
    min-height: 100%;
}
.parallax-img4 {
    background-image: url("images/parallax/parallax_img4.jpg");
    min-height: 100%;
}
.parallax-img5 {
    background-image: url("images/parallax/parallax_img5.jpg");
    min-height: 100%;
}


@media only screen and (max-device-width: 1024px) {
    .parallax-img1, .parallax-img2, .parallax-img3, .parallax-img4, .parallax-img5 {
        background-attachment: scroll;
    }
}



/* the styles below are for page3.html */
.locations {
    position:relative;
    float: left;
    width: min-content;
    height: min-content;
    top: 25px;
    left: calc(50% - 640px);
    background-color: #fdfdfd;
    outline: #000000 solid 5px;
}
.locations iframe {
    width: 1280px;
    height: 720px;
    margin: 10px;
    margin-top: 0px;
    float: none;
    border: 0px;
}
.locations h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.locations button {
    padding: 10px;
    border: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    
    background-color: #d1d1d1;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.locations button:hover {
    background-color: #a7a7a7;
}
.locations button:active {
    background-color: #b9b9b9;
}



/* the styles below are for page4.html */
.destination-card2 {
    position:absolute;
    height: min-content;
    width: min-content;
    background-color: #fdfdfd;
    outline: #000000 solid 5px;
}
.destination-card2 img {
    position: relative;
    float:left;
    width: 400px;
    margin: 10px;
}
.destination-card2 h1 {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}



/* the styles below are for page5.html */
.destination-card3 {
    position:absolute;
    height: min-content;
    width: min-content;
    background-color: #fdfdfd;
    outline: #000000 solid 5px;
}
.destination-card3 img {
    position: relative;
    float:left;
    width: 300px;
    margin: 10px;
}
.destination-card3 h1 {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.destination-card-about {
    position:absolute;
    height: 1147px;
    width: max(500px, min(1000px, calc(100% - 600px)));
    background-color: #fdfdfd;
    outline: #000000 solid 5px;
}
.destination-card-about h1 {
    margin-left: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.destination-card-about p {
    float:initial;
    margin: 20px;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}



/* the styles below are for page5.html */
.references-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    position: relative;
    float: left;
    top: 100px;
    right: -400px;
    width: min-content;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}
.references-bar li {
    margin-bottom: 20px;
    background-color: #505050;
}
.references-bar li a {
    display: block;
    padding: 8px;
}
.references-bar li a img {
    width: 300px;
    margin: 10px;
}
.references-bar li a:link {
    text-decoration: none;
    color: #ffffff;
}
.references-bar li a:visited {
    text-decoration: none;
    color: #ffffff;
}
.references-bar li a:hover {
    text-decoration: none;
    background-color: #404040;
    color: #ffffff;
}
.references-bar li a:active {
    text-decoration: none;
    color: #ffffff;
    background-color: #454545;
}